<nav class="bg-black border-gray-200 fixed w-screen px-10 top-0 z-50">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 ">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../../../../assets/logo/logo.jpg" alt="Logo" class="h-10 w-auto">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Safety Score Assurance</span>
    </a>
    <div class="relative">
      <button *ngIf="!isConnexionRoute()" type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              id="user-menu-button" aria-expanded="true" (click)="toggleUserDropdown()">
        <span class="sr-only">Open user menu</span>
        <img src="../../../../assets/svg/user.svg" alt="Icon">
      </button>
      <!-- Dropdown menu -->
      <div *ngIf="isUserDropdownVisible" class="absolute z-50 right-5 mt-2 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{mail}}</span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Alerts</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
